@import "tailwindcss";

:root {
  font-family:
    "SF Pro Text", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  --palette-white-100: rgba(255, 255, 255, 1);
  --palette-grey5-dark: rgba(44, 44, 46, 1);
  --color-accent: rgba(0, 122, 255, 1);
}

:root[data-theme="dark"] {
  --bg-primary: rgba(28, 28, 30, 1);
  --bg-secondary: var(--palette-grey5-dark);

  --text-primary: var(--color-white);
}

:root[data-theme="light"] {
  --bg-primary: rgba(242, 242, 247, 1);
  --bg-secondary: var(--palette-white-100);

  --text-primary: var(--color-black);
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-text-primary: var(--text-primary);
  --color-accent-primary: var(--color-accent);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: inherit;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overscroll-behavior-y: none;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

#root {
  height: 100%;
  background-color: var(--bg-primary);
}

@layer components {
  /* .app-surface {
    @apply rounded-xl border border-border-primary bg-bg-surface text-text-primary;
  }

  .app-muted {
    @apply text-text-secondary;
  } */
}
